* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  margin: 50px;
}

.game-holder {
  width: 150px;
  margin-bottom: 30px;
  border-bottom: solid 1px #000;
}

.brief-rating {
  font-size: 9px;
}

.brief-des {
  margin-bottom: 10px;
}