* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  width: 1000px;
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}

.camping-holder {
  width: 250px;
  margin-bottom: 50px;
  margin-left: 50px;
  border-bottom: solid 1px #000;
  cursor: pointer;
}

.brief-rating {
  width: 200px;
  font-size: 20px;
  margin-bottom: 100px;
}

.brief-des {
  width: 200px;
  margin-bottom: 20px;
}